/* Color Styles 
    Medium Sea Green    #33aa65
    Anti Flash White    #f0f7f4
    Sea Foam Green      #a2e3c4
    Mummys Tomb         #7e8d85
    Rifle Green         #3c493f
    */
/* Global Styles */
body {
    background: #f0f7f4;
    color: #f0f7f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
}
nav { 
    max-width: 100%;
    text-align: center;
    background: #f0f7f4;
}

h1 {
    color: #f0f7f4;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
h2 {
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding: 5px;
    margin-top: 0;
}
p {
    margin: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    line-height: 25px;
    color: #a2e3c4;
}

a {
    color: #33aa65;
}

a:link {
    color: #c7c7a6;
}
a:visited {
    background: brown;
}
a:hover {
    color: #33aa65;
}
nav li {
    display: inline-block; 
}
nav {
    margin: 3px;
    margin-bottom: -40px;
    margin-left: -40px;
    max-width: 100%;
}
ul.drop li {
    background-color: #f0f7f4;
}
.work {
    background: #33aa65;
    margin-top: 45px;
    margin-bottom: -15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
    max-width: 100%;
}
.content-wrap {
    max-width: 100%;
    margin: auto 0;
    padding: 5px;
    overflow: hidden;
}
.profile-img {
    border: 10px;
    border-radius: 50%;
}
.col-narrow {
    width: 20%;
    float: left;
    min-height: 175px;

}
.col-wide {
    width: 70%; 
    float: left;
    padding: 20px;
    min-height: 175px;
}

/* header and footer */
header {
    background: #33aa65;
    align-content: center;
    max-width: 100%;
    
}
header p{
    color: #c7c7a6;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header h1, header h2 {
    margin: 0;
} */
footer {
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
}
.footerlinks a {
    /*background: #3c493f;*/
    padding: 5px;
    border: 1px;
    border-radius: 8px;
    margin: 0 auto;
    height: 5px;
    color: #33aa65;
}
footer h2 {
    color: #33aa65;
}

/*Media Quries*/

@media screen and (max-width 500px) {
    .col-wide {
        width: 100%;
        font-size: 1.1em;
    }
}